# Flutter and Dart related
.dart_tool/
.packages
.pub/
build/
# Uncomment the next line if you want to track pubspec.lock for application projects
# pubspec.lock

# Generated plugin registrant
ios/Flutter/FlutterPluginRegistrant/GeneratedPluginRegistrant.*

# iOS specific
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
# Xcode specific files
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xcworkspace/
*.xcuserstate
DerivedData/

# Android specific
android/.gradle/
android/app/debug.keystore
android/app/build/
android/build/
android/local.properties

# IDEs and editors
.idea/
*.iml
.vscode/

# Logs and temporary files
*.log
*.lock
*.tmp

.DS_Store