<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439740580389-uhaevq06pu6fomu5vnrs6k19th0evcb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439740580389-uhaevq06pu6fomu5vnrs6k19th0evcb2</string>
	<key>API_KEY</key>
	<string>AIzaSyCOKA6vH10oyZRorqBUUBjeAJ4ekYVMgsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>439740580389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cmsc23ProjectRamillano</string>
	<key>PROJECT_ID</key>
	<string>cmsc23-project-abramillano</string>
	<key>STORAGE_BUCKET</key>
	<string>cmsc23-project-abramillano.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439740580389:ios:af08f72354bc6cedc5f5cc</string>
</dict>
</plist>